<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0" metadata-complete="false">
  <!-- web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1"> -->
  
  <display-name>ServletBasics</display-name>
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <!-- <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  
  <listener>
  	<listener-class>com.workouts.servletlisteners.ServletContextListenerExample</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.workouts.servletlisteners.SessionListenerExample</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.workouts.servletlisteners.RequestListenerExample</listener-class>
  </listener>
  
  
  <context-param>
  	<param-name>Fish Aquarium</param-name>
  	<param-value>Aquarium for Life</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>hs</servlet-name>
    <servlet-class>com.workouts.HelloWorld</servlet-class>
    <init-param>
    	<param-name>name</param-name>
    	<param-value>Guppies</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>hs</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>fishType</servlet-name>
    <servlet-class>com.workouts.Molly</servlet-class>
    <init-param>
    	<param-name>name</param-name>
    	<param-value>Balloon Molly</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>fishType</servlet-name>
    <url-pattern>/molly</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.workouts.Registration</servlet-class>
    <init-param>
    	<param-name>Country</param-name>
    	<param-value>India</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>com.workouts.AadharRegistration</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>validate</servlet-name>
    <servlet-class>com.workouts.interservletcommunications.ValidationServlet</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/valid</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>color</servlet-name>
    <servlet-class>com.workouts.interservletcommunications.ColorAppender</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>color</servlet-name>
    <url-pattern>/color</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.workouts.interservletcommunications.RegistrationServlet</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/next</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ajaxRegister</servlet-name>
    <servlet-class>com.workouts.ajax.AjaxRegistration</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxRegister</servlet-name>
    <url-pattern>/ajaxRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>studReg</servlet-name>
  	<servlet-class>com.workouts.filters.StudentRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>studReg</servlet-name>
 	<url-pattern>/studReg</url-pattern> 
  </servlet-mapping>
  
  <filter>
  	<filter-name>studentFil</filter-name>
  	<filter-class>com.workouts.filters.StudRegFilter</filter-class>
  	<init-param>
  		<param-name>student</param-name>
  		<param-value>StudentRegistrationForm</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>studentFil</filter-name>
	<url-pattern>/studReg</url-pattern>
	<!-- <dispatcher>REQUEST</dispatcher> -->
  </filter-mapping>
  
</web-app>